.breadcrumbs {
  //background-color: $color-secondary-900;

  &-projects {
    background-color: transparent;
  }

  &__box-btn {
    @include flex;
  }

  &__inner {
    padding: 20px 0;

    &.container-min {
      padding: 24px;
    }

    &-project {
      padding: 40px 0;
    }
  }

  &__item {
    display: inline-block;

    &:last-child .link {
      color: $color-primary-500;
      cursor: default;
    }
  }

  &__separator {
    color: $color-secondary-300;
  }

  &__link {
    font-size: 17px;
    color: $color-secondary-300;
  }

  &-fixed {
    position: fixed;
    top: 56px;
    z-index: 11;
    width: 100%;
    background: #101416;
    left: 0;
    right: 0;
  }

}
